<html>
    <head>
        <title>Artur's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">First site by Arthur Ryhas CO.</a></h1>
        </div>

        <div>
            <p>published: 12.02.2022, 12:36</p>
            <h2><a href="">My first post</a></h2>
            <p>When you think it's too late, the truth is, it's still early</p>
        </div>

        <div>
            <p>published: 12.02.2022, 12:38</p>
            <h2><a href="">My second post</a></h2>
            <p>The people who are crazy enough to think they can change the world are the ones who do (Steve Jobs)</p>
        </div>
    </body>
</html>